
<div class="md-form">   
  {{elementData.label}}
  <span *ngIf="elementData.required" class="spnRequired">*</span>
  <div class="divGuideText" *ngIf="elementData.guideText.length > 0">
    {{elementData.guideText}}
  </div>
  <input 
    [(ngModel)] = "dataObject === undefined ? '' : dataObject[elementData.name]"
    class="form-control"
    id="{{elementData.name}}" 
    maxlength="{{elementData.maxLength}}"
    placeholder="{{elementData.placeHolder}}"
    type="{{elementData.inputType}}" 
    />  
</div>
